testrun/
output/
venv/
temp/
.rpa/
.idea/
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/
*/.ipynb_checkpoints/*
.vscode
.DS_Store
*.pyc
*.zip
.~lock*
*/work-items-out/*

# Sensitive files
devdata/sensitive/*.pdf
*boost-plm-invoice*

# Fonts
*.pkl

# Extra sensitive files
receipt-moved.pdf
tesla.pdf
form.pdf
cv.pdf
invoice.pdf

# Client data
devdata/work-items-in/boost-plm/*.pdf
devdata/work-items-in/unimate/*.pdf
devdata/work-items-in/rati-suri/*.pdf
